@font-face{
    font-family: 'koodak';
    src:local('bkoodak'),
    local('b koodak'),
    url('../fonts/koodakBold.eot?#')format('eot'),
    url('../fonts/koodakBold.ttf')format('truetype'),
    url('../fonts/koodakBold.woff')format('woff');
    font-weight: normal;
    font-style: normal;

    }
    @font-face{
    font-family: 'nazanin';
    src:local('bnazanin'),
    local('b nazanin'),
    url('../fonts/Nazanin.eot?#')format('eot'),
    url('../fonts/Nazanin.ttf')format('truetype'),
    url('../fonts/Nazanin.woff')format('woff');
    font-weight: normal;
    font-style: normal;
    
    }
    @font-face{
    font-family: 'yekan';
    src:local('bYekan'),
    local('b Yekan'),
    url('../fonts/yekan.eot?#')format('eot'),
    url('../fonts/yekan.ttf')format('truetype'),
    url('../fonts/yekan.woff')format('woff');
    font-weight: normal;
    font-style: normal;
    
    }

    *{
        box-sizing: border-box;
        padding: 0;
        margin:0;
    }
    body{
        font-family: 'koodak';
        background: #fff;
        color: #333;
        line-height: 1.6;
    }
    ul{
        list-style: none;

    }
    a{
        color: #333;
        text-decoration: none;

    }
    h1,h2{
        font-weight: 300;
        line-height: 1.2;
    }
    p{
        margin: 10px 0;


    }
    img{
        width: 100%;
    }
    /*navbar*/
    .navbar {
        display: flex;
        align-items:flex-start;
        justify-content: space-between;
        background-color: #fff;
        color: rgb(231, 25, 221);
        opacity: 0.7;
        width: 100%;
        height: 70px;
        position: fixed;
        top: 0px;
        padding: 10px 30px;
        transition: 0.5s;
    }
    .navbar.top{
         background: transparent;
    }
    .navbar a{
        color: rgb(235, 14, 161);
        padding:5px 10px;
        font-size: larger;
    } 
    .navbar a:hover{
        border-bottom: #28a745 2px solid;
    }
    .navbar ul{
        display: flex;
    }
    .navbar .logo{
        font-weight: 400 px;
    }
    /*header*/
    .hero{
        background: url('../images/home/sport.jpg') no-repeat center center/cover;
        height: 100vh;
        position: relative;
        color: #fff;
    }
    .hero.blog{
        background: url('../images/blog.jpg') no-repeat center center/cover;
        height: 30vh;
    }
    .hero .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        padding: 0 20px;
    }
    .hero .content h1{
        font-size: 55px;
    }
    .hero .content p{
        font-size: 23px;
        max-width: 600px;
        margin: 20px 0 30px;
    }
    /*Icons*/
    .icons{
        padding: 30px;
        margin-top:2px;
    }
    .icons h3{
        font-weight: bold;
        margin-bottom: 15px;
        color: rgb(204, 37, 148);
    }
    .icons p{
        color: rgb(122, 31, 92);
    }

    .icons img{

        background-color: rgb(233, 90, 233);
        color:#fff ;
        padding: 0.4rem;
        border-radius: 50%;
        margin-bottom: 15px;
        margin:10px 30px 10px;
        width: 200px;
        height: 200px;
    }
    .flex-items >div{
        padding: 10px;
    }
    .cases {
        background-color: linen;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    .cases img:hover{
        opacity:0.7;
    }
    .most img{
        border-radius: 50%;
    }
    .most {
        background-color:ivory;
        margin-bottom: 2px;
    }
    /*call back form*/
    .callback-form{
        width: 100%;
        padding: 20px 0;

    }
    .cases label{
        display: block;
        margin-bottom: 5px;

    }
    .callback-form .form-control{
        margin-bottom: 15px;

    }
    .callback-form input{
        width: 100%;
        padding: 4px;
        height: 40px;
        border:#f5f5f5 solid 1px;
    }
    .callback-form input:focus{
        outline-color: #28a745;
    }
    .callback-form .btn{
        padding: 12px 0;
    }
    /*post*/
    .post{
        padding: 50px 30px;
    }
    .post h2{
        font-size: 40px;
        margin-bottom: 20px;
        padding-bottom: 10px;
        border-bottom: #ccc solid 1px;
    }
    .post p{
        font-family: 'nazanin';
        font-size:large;
    }
    .post .meta{
        margin-bottom: 30px;
    }
    .post img{
        width: 500px;
        border-radius: 50%;
        display: block;
        margin: 0 auto 30px;
    }
    /*footer*/
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 200px;
        margin-top: 2px;
        padding-top: 20px;
    }
    .footer a{
        color: #fff;
    }
    .footer a:hover{
        color: chartreuse;
    }
    .footer .social > *{
        margin-right: 30px;

    }
    .footer p{
        color: darkmagenta;
        font-size: 20px;
        
    }
    /*mobile*/
    @media(max-width:768px){
        .navbar{
            flex-direction: column;
            height: 120px;
            padding: 20px;
        }
        .navbar a{
            padding: 10px 10px;
            margin: 0 3px;
        }
        .flex-items{
            flex-direction: column;
        }
        .flex-columns .row .column, .flex-grid .row .column{
            flex: 100%;
            max-width: 100%;
        }
        .most img{
            width: 70%;
        }
    }